.form-control {
  height: 40px;
  border-radius: 20px;
}

#submitBtnUp, #subminBtnIn {
  background-color: #973c15;
  border-color: #973c15;

  :hover {
    background-color: #973c15;
    border-color: #973c15;
  }
}
