$backColor: #973c15;
$mainBack: #E5E5E5;
$empty: #fff;
$logoColor: #126CD6;
$logo2Color: #C11700;
$lessPass: red;
$middlePass: yellow;
$strongPass:  green;
$black: black;
$border: #494949;
$Btns: #126CD6;