.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 30px;
    color: #fff;
  }

  &_form {
    width: 50%;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 40px 40px;
    align-items: center;

    .mb-3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .input {
        width: 100%;

        .red {
          border: 3px solid red;
        }

        .yellow {
          border: 3px solid yellow;
        }

        .green {
          border: 3px solid green;
        }

      }

      img {
        width: 25px;
      }
    }

    .image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      top: -20px;
      background-color: initial;

      img {
        width: 25%;
      }
    }

    .naming {
      text-align: center;
      font-size: 40px;
      margin-bottom: 10px;
      #colorStart {
        color: #494949;
      }

      #colorEnd {
        color: #973c15;
      }
    }
  }
}

.info-message {
  height: auto;
  width: 200px;
  border: 2px solid #973c15;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  padding: 10px;
  left: 75%;
  font-size: 12px;
  display: none;
}
