@import './colors.scss';

.render-posts-post {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid $border;
  border-radius: 5px;
  background-color: $mainBack;

  .render-posts-content {
    word-wrap: break-word;
    height: auto;
    background-color: $mainBack;

  }

  #pointer {
    cursor: pointer;
    color: rgb(128, 15, 118);
    font-size: large;
  }
}

.functional-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .edit {
    background-image: url('../assets/ico/edit.svg');
    height: 20px;
    width: 20px;
    border: none;
    background-repeat: no-repeat;
  }

  .delete {
    background-image: url('../assets/ico/delete.svg');
    height: 20px;
    width: 20px;
    border: none;
    background-repeat: no-repeat;
  }

  .save {
    background-image: url('../assets/ico/save.svg');
    height: 20px;
    width: 20px;
    border: none;
    background-repeat: no-repeat;
  }
}
