@import '../styles/colors.scss';

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

  .routestANDinfo {
    display: flex;
    flex-direction: row;
  }

  &-menu {
    width: 15vw;
    padding: 10px;
    text-align: end;

    button {
      border: none;
    }
  }

  &-user {
    padding: 10px;

    button {
      border: none;
    }

    &-photo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-posts {
    width: 40vw;
    margin-top: 10px;
    border: 1px solid $empty;
    border-radius: 5px;
    
    .user-info {
      width: 95%;
      margin: 10px;
      border: 2px solid $empty;
      border-radius: 10px;
      display: none;
      
      &-input {
        padding: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        
        .forWat {
          width: 40%;
          margin-top: auto;

          span {
            color: $empty;
            font-size: large;
          }
        }

        .watC {
          width: 100%;

          select {
            padding: 5px;
            width: 100%;
            background-color: $empty;
            border-radius: 50px;
          }
        }

        &-group {
          width: 100%;

          .wat {
            width: 100%;
  
            input {
              padding: 5px;
              width: 100%;
              background-color: $empty;
              border-radius: 50px;
            }
          }
          
          .error-message {
            height: 12px;
            font-size: 10px;
            margin: 0;
          }
        }
      }
    }

    .media-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img, button {
        margin-right: 15px;
        border: none;
      }
    }

    textarea {
      width: 100%;
      height: 150px;
      resize: none;
      background-color: $empty;
      border-radius: 5px;
    }
  }
}

.info-message-user-main {
  height: auto;
  width: auto;
  border: 2px solid $border;
  border-radius: 20px;
  position: fixed;
  padding: 10px;
  display: none;
  top: 25%;

  p, a {
    font-size: 10px;
    color: $black;
  }

  &:hover .info-message {
    display: block;
  }
}
