.main_content {

  &_form {

    p {
      font-size: 15px;
    }

    // &.red {
    //   border: 2px solid red;
    // }

    // &.orange {
    //   background-color: orange;
    // }

    // &.yellow {
    //   background-color: yellow;
    // }

    // &.blue {
    //   background-color: blue;
    // }

    // &.green {
    //   background-color: green;
    // }

    .image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      top: -20px;
      background-color: initial;

      img {
        width: 25%;
      }
    }

    .naming {
      text-align: center;
      font-size: 40px;
      margin-bottom: 10px;

      #colorStart {
        color: #494949;
      }

      #colorEnd {
        color: #973c15;
      }
    }
  }
}