.mainIn_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 50px;
    color: #fff;
  }
  &_form {
    width: 60%;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 100px 50px;

    .form-control {
      height: 50px;
      border-radius: 20px;
    }
  }
}
